<banners></banners>

<portfoliosite-products-categories-banner></portfoliosite-products-categories-banner>

<!-- <categories-banner></categories-banner>  -->
<featured-products></featured-products>


<!-- <button type="button" class="btn btn-link">Link</button>
<br>
<input pInputText type="text" class="p-inputtext-sm" />
<button pButton label="Button" class="p-button-lg"></button>

<div class="grid">
    <div class="col">1</div>
    <div class="col">2</div>
    <div class="col">3</div>
</div> -->