.nav {
  li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;

    a {
      color: var(--blue-50);
      cursor: pointer;
      &:hover {
        color: var(--surface-900);
      }
    }
  }
}
